<ion-view view-title="Escolaridade" hide-nav-bar="true">
  <ion-content class="gray full config" has-header="false" style="">
      <div style="position: absolute; width: 100%; top: 25%;">
        <div class="custom-container">
            <h1 class="white-blocks-title">Escolaridade</h1>
        </div>
        <div class="white-block switch" ng-repeat="e in escolaridade">
            <div class="flex">
              <h2 class="wb-title">{{e.nome}}</h2>
              <div class="wb-switch">
                <label class="toggle">
                  <input type="checkbox" ng-model="e.selected" ng-click="setEscolaridade(e.nome)">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </div>
            </div>
        </div>
      </div>

      <div class="row green-button">
        <button ng-disabled="ok.disabled" class="facebook-sign-in button button-block" ng-click="goNext()">CONTINUAR</button>
      </div>
  </ion-content>
</ion-view>