<ion-view view-title="Chat-Det" hide-nav-bar="true" cache-view="false">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <div class="chat-header">
    <div class="chat-header-wrap flex">
      <div class="chat-header-img">
        <img src="{{ other.f }}" class="chat-img">
      </div>
      <div class="chat-header-title">
        <h1>{{other.nome}}</h1>
      </div>
    </div>
  </div>
  <ion-content class="gray chat-det" has-header="true">
    <div class="custom-container">
    	<div class="chat-speech">
    		<div class="chat-block chat-block-{{ m.color }} flex" ng-repeat="m in messages" id="cmb">
          <div class="block-{{ m.color }}-text">
            <div class="block-speech" ng-bind-html="m.content"></div>
          </div>
          <div class="block-{{ m.color }}-img"> 
            <img src="{{ m.f }}">
          </div>
          <div class="time" style="color: #c0c0c0; display: block; width: 55px; margin-top: 20px; position: absolute; line-height: 10px; font-size: 8px">{{ m.date | date:'dd/MM/yyyy HH:mm'}}</div>
        </div>
	    </div>
    </div>
  </ion-content>
  <div class="list bottommsg">
    <div class="item item-input-inset light-grey">
      <label  class="item-input-wrapper nopadtop">
        <input class="line-light-grey" type="text" placeholder="Mensagem" ng-enter="sendMessage()" ng-model="message"> 
      </label>
      <div class="divsend">
        <button class="button button-clear ion-android-send iconsend" ng-click="sendMessage()"></button>
      </div>
    </div>
  </div>
</ion-view>