<ion-view view-title="Chats" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray">
    <div class="custom-container">
        <h1 class="white-blocks-title">Mensagens</h1>
        <p ng-hide="hide.none" class="nenhum">Você não possui nenhum match.</p>
    </div>
    <div class="chat-messages">
        <div class="white-block flex" ng-repeat="c in chats" style="justify-content: center;align-items: center;"> 
            <div class="chat-message-img" style="display: flex;">
                <img src="{{ c.f }}" class="rounded" width="36" height="36" ng-click="goInfo(c.id, c.nome, c.birthday, c.distancia, c.fotos)">
            </div>
            <div class="chat-message-text" ng-click="goChatUnico(c.chatId,c.id, c.nome, c.f, c.buscar)">
                <p class="ritmos">{{ c.nome }}</p>
                <img src="img/Ellipse_14.png" class="unread" ng-show="c.unread.includes('true')">
            </div>
        </div>
    </div>
  </ion-content>
</ion-view> 