<ion-view view-title="Match" hide-nav-bar="true" no-scroll>
  <div class="bar bar-header black topmenu top-four-itens" ng-hide="hide.header">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil" class=""><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa" class=""><img src="img/event-location.png"></a>
      <a href="#/tab/chats" class=""><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content> 
    <div class="match-overlay">
      <div class="match-wrap">
        <div class="match-title">Hora de Dançar!</div>
        <div class="match-photos">
          <div style="background-image: url('{{user.fotos[0] ? user.fotos[0] : 'img/image.gif' }}'); margin-right: 20px;" class="rounded-m image-div"></div>
          <img src="img/match-like.png" class="match-like" style="position: absolute; height: 50px; width: 50px;">
          <div style="background-image: url('{{ match.f ? match.f : 'img/image.gif' }}')" class="rounded-m image-div"></div>
        </div>
        <div class="match-description">
          Recomende um local bacana para dançar com {{match.nome}}!
        </div>
        <div class="match-controls">
          <img src="img/match-back.png" ng-click="continue()">
          <img src="img/match-message.png" ng-click="goMsg(match.id)">
          <img src="img/match-local.png" ng-click="goMap()">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>