<ion-view view-title="Cadastrar" name="login-view" hide-nav-bar="true">
  <ion-content class="padding text-center login-screen full" has-header="false">
    <div class="row text-center">
      <img src="img/logo_transparent.png" class="logo">
    </div>
    <div class="row termos">
      <div class="col text-center col-responsive col-75 cor">
        <p>*Ao entrar no Bailaki, você concorda com nossa <a href="https://bailaki.com/politica-de-privacidade">política de privacidade</a> e com nossos <a href="https://bailaki.com/termos-de-uso">Termos de Uso</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center col-responsive col-12 cor" style="padding: 0; margin-bottom: 20px;">
        <input type="email" ng-model="user.email" placeholder="Email" class="input-login"></input>
        <input type="password" ng-model="user.senha" placeholder="Senha" class="input-login"></inpuy>
        <input type="password" ng-model="user.senha2" placeholder="Repetir Senha" class="input-login"></input>
      </div>
    </div>
    <div class="row">
      <button class="facebook-sign-in button button-block" ng-click="cadastrarEmail()">Cadastrar</button>
    </div>
      
  </ion-content>
</ion-view>