<ion-view view-title="Estilos" hide-nav-bar="true">
  <ion-content class="gray full config sel-ritmos" has-header="false">
    <div class="custom-container">
        <h1 class="white-blocks-title">Estilos de dança</h1>
    </div>
    <ion-list>
      <ion-checkbox ng-repeat="r in ritmos" ng-click="selectRit(r)" ng-checked="r.checked">{{ r.nome }}</ion-checkbox>
    </ion-list>
    <div class="row green-button">
        <button ng-disabled="ok.disabled" class="facebook-sign-in button button-block" ng-click="goNivel()">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>