<ion-view view-title="Perfil" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content>
    <div class="profile-options-block">
      <div class="custom-container">
        <div style="background-image: url('{{ user.foto.length > 0 ? user.foto : 'img/image.gif'}}'); margin: auto;" class="rounded image-div"></div>
        <h2>{{ user.nome }}, {{ user.birthday | ageFilter}}</h2>
      </div>
    </div>
    <div class="profile-options-icons">
      <div class="custom-container">
        <div class="flex">
          <div>
            <a href="#/tab/config"><img src="img/profile-config.png"></a>
            <p>Configurações</p>
          </div>
          <div>
            <a href="#/tab/editar"><img src="img/profile-edit.png"></a>
            <p>Editar Perfil</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>