<ion-view view-title="Login" name="login-view" hide-nav-bar="true" cache-view="false">
  <ion-content class="padding text-center login-screen full" has-header="false" style="" ng-show="show.is_loaded">
      <div class="" style="display: flex;justify-content: space-between;flex-grow: 1;flex-direction: column;height: 88%;">
        <div class="row text-center">
          <img src="img/logo_transparent.png" class="logo">
        </div>
        <div class="">
          <div class="row termos">
            <div class="col text-center col-responsive col-75 cor" style="margin-bottom: 8px">
              <p>Ao entrar no Bailaki, você concorda com nossa <a href="https://bailaki.com/politica-de-privacidade" target="__blank">política de privacidade</a> e com nossos <a href="https://bailaki.com/termos-de-uso" target="__blank">Termos de Uso</a>.</p>
            </div>
          </div>
          <div class="row">
            <button class="facebook-sign-in button button-block fb" ng-click="loginFacebook()">LOGIN COM FACEBOOK</button>
          </div>
          <div class="row">
            <button class="facebook-sign-in button button-block" ng-click="loginEmail()">LOGIN COM GMAIL</button>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>