<ion-view view-title="Fotos" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content has-header="true" on-scroll="scroll()">
    <div class="col-md-4 album" ng-repeat="f in fotos">
      <div style="background-image: url('{{f.picture}}');" class="image-div" on-tap="selectPiture(f)"></div>
    </div>
  </ion-content>
</ion-view>