<ion-view view-title="AddCreditos" name="add-creditos" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray add-cred config sel-ritmos">
    <div class="content-area" style="height: 77vh;overflow-y: scroll;">
        <div class="custom-container">
            <h1 class="white-blocks-title">Número do cartão</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.cartao" ng-change="getBandeira()" ui-credit-card-mask ng-blur="checkFields()"/>
                    </div>
                    <div class="erro">
                        <p>{{ erro.msg }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container" ng-show="ok.cartao">
            <h1 class="white-blocks-title">Bandeira</h1>
            <div class="erro">
                <p>{{ usuario.bandeira }}</p>
            </div>
        </div>

        <div class="custom-container">
            <h1 class="white-blocks-title">CVV</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="number" ng-model="usuario.cvv" ng-change="checkFields()" ng-blur="checkFields()"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
            <h1 class="white-blocks-title">Validade</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.validade" ui-date-mask="MM/YYYY" parse="false" ng-blur="checkFields()" ng-change="checkFields()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row green-button gray" style="position: relative !important">
        <button class="facebook-sign-in button button-block" ng-disabled="ok.disabled" ng-click="validarCartao()">CONTINUAR</button>
    </div>
    
  </ion-content>
</ion-view>