<ion-view view-title="Editar" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray config">
    <div class="custom-container" style="background-color: #fff; padding-top: 10px; padding: 0">
        <div class="photos-edit flex" style="padding: 2%;">
            <div class="col-md-8" style="align-items: stretch; display: flex; align-content: stretch; ">
              <div style="background-image: url('{{ user.fotos[0] ? user.fotos[0] : 'img/image.gif' }}'); width: 65vw; height: 65vw; position: relative;" >
                <img src="img/plus.png" ng-click="openFoto(0)" ng-class="user.fotos[0] ? 'rm' : ''"/>
              </div>
            </div>
            <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: space-between;">
              <div style="background-image: url('{{ user.fotos[1] ? user.fotos[1] : 'img/image.gif' }}'); width: 30vw; height: 100%; align-self: center; margin: 0 5px 2px 5px; position: relative;" >
                <img src="img/plus.png" ng-class="user.fotos[1] ? 'rm' : ''" ng-click="openFoto(1)"/>
              </div>
              <div style="background-image: url('{{ user.fotos[2] ? user.fotos[2] : 'img/image.gif' }}'); width: 30vw; height: 100%; align-self: center; margin: 2px 5px 0 5px; position: relative;" >
                <img src="img/plus.png" ng-class="user.fotos[2] ? 'rm' : ''" ng-click="openFoto(2)"/>
              </div>
            </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Nome</h1>
    </div>
    <div class="white-block options">
        <div class="flex">
            <div class="col-md-12">
                <div class="wb-selected">
                    <input type="text" ng-model="user.nome" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Data de nascimento</h1>
    </div>
    <div class="white-block options">
        <div class="flex">
            <div class="col-md-12">
                <div class="wb-selected">
                    <input type="tel" ng-model="user.birthday" ui-date-mask="DD/MM/YYYY" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Sexo</h1>
    </div>
    <div class="white-block switch" ng-repeat="s in sexos">
        <div class="flex">
          <h2 class="wb-title">{{s.nome}}</h2>
          <div class="wb-switch">
            <label class="toggle">
              <input type="checkbox" ng-model="s.selected" ng-click="checarSexo(s.nome)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Escolaridade</h1>
    </div>
    <div class="white-block switch" ng-repeat="e in escolaridade">
        <div class="flex">
          <h2 class="wb-title">{{e.nome}}</h2>
          <div class="wb-switch">
            <label class="toggle">
              <input type="checkbox" ng-model="e.selected" ng-click="checarEscolaridade(e.nome)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Profissão</h1>
    </div>
    <div class="white-block options">
        <div class="flex">
            <div class="col-md-12">
                <div class="wb-selected prof">
                    <input type="text" ng-model="user.work" placeholder="Diga a sua profissão...">
                </div>
            </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Estilos de dança</h1>
    </div>
    <!-- <div class="white-block options" style="padding-top: 7px;padding-bottom: 7px;">
        <div class="flex">
            <div class="">
                <div class="wb-selected wb-estilos">
                    <p ng-repeat="r in user.ritmos | orderBy" class="ritmos" ng-bind="r + ($last ? '' : ', ')"></p>
                </div>
            </div>
            <a class="wb-arrow" href="#/tab/ritmos"><img src="img/next.png" class="arrow"></a>
        </div>
    </div> -->
    <div class="white-block options" style="padding-top: 7px;padding-bottom: 7px;">
      <div class="flex">
        <div class="">
          <div class="wb-selected wb-estilos">
            <p ng-repeat="r in user.ritmos | orderBy" class="ritmos" ng-bind="r + ($last ? '' : ', ')"></p>
          </div>
        </div>
        <div class="wb-arrow" ng-click="goRitmos()"><img src="img/next.png" class="arrow"></div>
      </div>
    </div>


    <div class="custom-container">
        <h1 class="white-blocks-title">Nível de dança</h1>
    </div>
    <div class="white-block switch" ng-repeat="n in niveis">
        <div class="flex">
          <h2 class="wb-title">{{n.nome}}</h2>
          <div class="wb-switch">
            <label class="toggle">
              <input type="checkbox" ng-model="n.selected" ng-click="selNivel(n.nome)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
    </div>

    <div class="custom-container">
        <h1 class="white-blocks-title">Sobre</h1>
    </div>
    <div class="white-block options about-edit">
        <div class="wb-selected">
            <textarea rows="4" cols="50" ng-model="user.about" placeholder="Fale sobre você..."></textarea>
            <span class="letter-count" ng-bind="{{120 - user.about.length}}">{{120 - user.about.length}}</span>
        </div>
    </div>

    <div class="custom-container">
      <button class="white-block facebook-sign-in button button-block out" ng-click="salvar()">
        SALVAR
      </button>
    </div>
  
  </ion-content>
</ion-view>