<ion-view view-title="Mapa" name="mapa-view" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <div class="bar bar-header topmenu" style="margin-top: 50px;background: #cccc;justify-content: space-around; align-items: center; height: 50px">
    <a href="#/tab/add-event"><img src="img/add-event-black.png" class="sadd-event"></a>
    <a href="#/tab/filtro-evt"><img src="img/event-filter.png"></a>
  </div>
  <ion-content class="full" has-header="true">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>