<ion-view view-title="Chats" name="login-view" hide-nav-bar="true" no-scroll>
  <div class="bar bar-header black topmenu top-four-itens">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content> 
    <td-cards>
      <td-card id="td-card" ng-repeat="card in cards|limitTo:1" on-destroy="cardDestroyed($event)"
      on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-pan="pan($event)">
        <div class="card-wrap">
          <div class="image">
            <div style="background-image: url('{{ card.fotos[0] }}')" class="card-img"></div>
          </div>
          <div class="card-info flex">
            <div class="card-name">{{card.nome}}, {{ card.birthday | ageFilter}}</div>
            <div class="card-styles"><img src="img/styles.png"> <span>{{ card.ritmos.length }}</span></div>
          </div>
        </div>
      </td-card>
    </td-cards>
    <div class="card-controls flex" ng-hide="hide.ctrl">
      <div class="dislike">
        <img src="img/dislike.png" ng-click="noClick($event)">
      </div>
      <div class="info" ng-click="info()">
        <img src="img/info.png" >
      </div>
      <div class="like">
        <img src="img/like-button.png" ng-click="yesClick($event)">
      </div>
    </div>
    <p class="nenhum" ng-hide="hide.notice" >Não há mais ninguém no seu raio de busca.</p>
  </ion-content> 
</ion-view>