<ion-view view-title="AddEvent" name="add-event" hide-nav-bar="true">
  <div class="bar bar-header black topmenu" ng-hide="hide.addEvento">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray config" has-header="true">
    <div style="height: 77vh;overflow-y: scroll;">
      <div class="custom-container">
        <h1 class="white-blocks-title">Nome do evento</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <input type="text" ng-model="evento.nome" value="{{evento.nome}}" ng-change="checkFields()"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Fotos</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected photos-evt">
                    <div ng-repeat="i in evento.images" style="background-image: url('{{i.img}}');" id="image-{{i.num}}" class="img-evt">
                      <img src="img/plus.png" class="rm" ng-click="Remover(i.num)"/>
                    </div>
                  </div>
              </div>
              <div class="wb-arrow" ng-click="getFoto()"><img src="img/next.png" class="arrow"></div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Descrição</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <textarea ng-model="evento.descricao" style="resize: none" ng-change="checkFields()"></textarea>
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Estilos de dança</h1>
      </div>
      <div class="white-block options">
        <div class="flex">
          <div class="">
            <div class="wb-selected">
               <p ng-repeat="r in evento.ritmos" class="ritmos" ng-bind="r + ($last ? '' : ', ')"></p>
            </div>
          </div>
          <div class="wb-arrow" ng-click="goRitmosEvt()"><img src="img/next.png" class="arrow"></div>
        </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Localização</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <input type="text" ng-model="evento.localizacao" ng-change="checkFields()">
                  </div>
              </div>
          </div>
      </div>
    
      <div class="custom-container">
        <h1 class="white-blocks-title">Data</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                    <input type="tel" ng-model="evento.data" ui-date-mask="DD/MM/YYYY" ng-change="verifyAge()">
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Hora</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                    <input type="tel" ng-model="evento.hora" ui-time-mask="short" ng-change="verifyAge()">
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Valor da entrada</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <input type="tel" ng-model="evento.valor" ui-money-mask currency-symbol="R$" ng-change="checkFields()"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Número de convidados</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <input type="number" ng-model="evento.convidados" ng-blur="calculatePrice()">
                  </div>
              </div>
          </div>
      </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Preço para adicionar o evento ao Bailaki</h1>
      </div>
      <div class="white-block options">
          <div class="flex">
              <div class="col-md-12">
                  <div class="wb-selected">
                     <input type="text" ng-model="evento.preco" format="number" disabled="disabled" style="background: white" ng-change="checkFields()" >
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row green-button gray" style="position: relative !important">
      <button class="facebook-sign-in button button-block" ng-disabled="ok.disabled" ng-click="goAddCreditos()">PRÓXIMO</button>
    </div>
  </ion-content>
</ion-view>