<ion-view view-title="Autorizar" hide-nav-bar="true">
  <ion-content class="text-center full" has-header="false" style="">
    <div class="row autorizar quicksand">
      <h1>Bem vindo ao<br/>Bailaki</h1>

      <h2>Algumas das condutas recomendadas</h2>

      <h3>Seja educado</h3>
      <h3>Respeite as outras pessoas</h3>
      <h3>Evite encontros imediatos e em locais que não sejam públicos</h3>
      <h2>Divirta-se!</h2>
    </div>
    <div class="row green-button">
      <a class="facebook-sign-in button button-block" ng-click="goNext()">ENTENDI</a>
    </div>
  </ion-content>
</ion-view>