<ion-view view-title="Nivel" hide-nav-bar="true" cache-view="false">
  <ion-content class="gray full config" has-header="false" style="">
    <div style="position: absolute; width: 100%; top: 20%;">    
      <div class="custom-container">
        <h1 class="white-blocks-title">Nível de dança</h1>
      </div>
      <div class="white-block switch" ng-repeat="n in niveis">
          <div class="flex">
            <h2 class="wb-title">{{n.nome}}</h2>
            <div class="wb-switch">
              <label class="toggle">
                <input type="checkbox" ng-model="n.selected" ng-click="setNivel(n.nome)">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
      </div>
    </div>
    <div class="row green-button">
        <button ng-disabled="ok.disabled" class="facebook-sign-in button button-block" ng-click="goCards()">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>