<ion-view view-title="AddCreditos" name="add-creditos" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray add-cred config sel-ritmos">
    <div class="content-area" style="height: 77vh;overflow-y: scroll;">
        
        <div class="custom-container">
          <h1 class="white-blocks-title">Nome do titular</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.nome" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">CPF/CNPJ</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.cpf" ui-br-cpfcnpj-mask/>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Telefone</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.telefone" ui-br-phone-number-mask="areaCode"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Email</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.email" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">CEP</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.cep" ng-blur="buscarCep()" ui-br-cep-mask/>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Endereço</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.endereco"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Número</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="number" maxlength="6" ng-model="usuario.numero" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Complemento</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.complemento" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Bairro</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.bairro" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Cidade</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="text" ng-model="usuario.cidade" />
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Estado</h1>
        </div>
        <div class="white-block options">
            <div class="flex m-nivel">
              <div class="col-md-12">
                <div class="wb-selected">
                  {{usuario.estado}}
                </div>
              </div>
              <div class="wb-arrow" modal-select ng-model="usuario.estado" options="estados" modal-title="Selecione" modal-class="modal-nivel" hide-reset="true"><img src="img/next.png" class="arrow">
                <div class="option">
                    {{option}}
                </div>
              </div>
            </div>
        </div>

        <div class="custom-container">
          <h1 class="white-blocks-title">Data de nascimento</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" ng-model="usuario.bday" placeholder="dd/mm/aaaa" ui-date-mask="DD/MM/YYYY"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row green-button gray" style="position: relative !important">
        <a class="facebook-sign-in button button-block" ng-disabled="disabled" ng-click="comprar()">COMPRAR</a>
    </div>
    
  </ion-content>
</ion-view>