<ion-view view-title="Sexo" hide-nav-bar="true">
  <ion-content class="gray full config" has-header="false">
      <div style="position: absolute; width: 100%; top: 25%;">
        <div class="custom-container">
          <h1 class="white-blocks-title">Sexo</h1>
        </div>
        <div class="white-block switch" ng-repeat="s in sexos">
            <div class="flex">
              <h2 class="wb-title">{{s.nome}}</h2>
              <div class="wb-switch">
                <label class="toggle">
                  <input type="checkbox" ng-model="s.selected" ng-click="checarSexo(s.nome)">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </div>
            </div>
        </div>
      </div>
      <div class="row green-button gray">
        <button ng-disabled="ok.disabled" class="facebook-sign-in button button-block" ng-click="goNext()">CONTINUAR</button>
      </div>
  </ion-content>
</ion-view>