<ion-view view-title="Data de Nascimento" hide-nav-bar="true">
  <ion-content class="gray full config" has-header="false" style="">
    <div style="position: absolute; width: 100%; top: 25%;">    
        <div class="custom-container">
            <h1 class="white-blocks-title">Data de nascimento</h1>
        </div>
        <div class="white-block options">
            <div class="flex">
                <div class="col-md-12">
                    <div class="wb-selected">
                        <input type="tel" placeholder="dd/mm/aaaa" name="field" ng-model="user.birthday" ui-date-mask="DD/MM/YYYY" ng-change="verifyAge()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row green-button">
        <button ng-disabled="ok.disabled" class="facebook-sign-in button button-block" ng-click="goNext()">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>