<ion-view view-title="Info" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="gray">
    <ion-slides class="info-slider" options="data.options">
        <ion-slide-page ng-repeat="f in u.fotos">
          <img ng-src="{{f}}">
        </ion-slide-page>
    </ion-slides>
    <div class="custom-container">
        <div class="profile-info">
            <h1 class="profile-title">{{u.nome}}, {{ u.birthday | ageFilter }}</h1>
            <p ng-if="u.sexo.length > 0"><img src="img/sexo.png"/>{{ u.sexo }}</p>
            <p ng-if="u.escolaridade.length > 0"><img src="img/school.png"/>{{ u.escolaridade }}</p>
            <p ng-if="u.sexo.work.length > 0"><img src="img/work.png"/>{{u.work}}</p>
            <div ng-if="u.ritmos.length > 0">
              <div class="profile-styles">
                <span ng-repeat="r in u.ritmos">{{r}}</span>
              </div>
            </div>
            <p><img src="img/baila.png"/>{{u.nivel}}</p>
            <p><img src="img/pin.png"/>{{ u.distancia | number: 2 }} Km de distância</p>
            <div class="profile-divider"></div>
            <div ng-if="u.about.length > 0">
                <p>{{u.about}}</p>
                <div class="profile-divider"></div>
            </div>
            <button class="button-block white-block single" ng-show="tela.showUndo" ng-click="desfazer()">Desfazer Match</button>
        </div>
    </div>
  </ion-content>
</ion-view>