<ion-view view-title="Ritmos do Evento" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content>
    <ion-list>
      <ion-checkbox ng-repeat="r in ritmos" ng-click="selectRit(r)" ng-checked="r.checked">{{ r.nome }}</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>