<ion-view view-title="Evento" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <a href="#/tab/perfil"><img src="img/user.png"></a>
      <a href="#/tab/cards"><img src="img/logo-icon.png"></a>
      <a href="#/tab/mapa"><img src="img/event-location.png"></a>
      <a href="#/tab/chats"><img src="img/message.png"></a>
    </div>
  </div>
  <ion-content class="full" has-header="true">
    <div class="event-overlay padding">
      <div class="event-wrap">
        <div class="event-title">{{evt.nome}}</div>
        <div class="event-photos">
          <div ng-repeat="f in evt.fotos" style="background-image: url('{{ f }}');" class="image-div"></div>
        </div>
        <div class="event-description">{{evt.descricao}}</div>
        <div class="event-styles">
          <span ng-repeat="r in evt.estilos">{{r}}</span>
        </div>
        <div class="event-local">
          <p>{{evt.localizacao}}</p>
        </div>
        <div class="event-info">
          <div class="flex">
            <div class="ei-date">
              <img src="img/event-date.png">
              <p>{{evt.data | date:'dd/MM/yyyy'}} <br/>{{evt.hora ? evt.hora : '12:00:00' | limitTo:5 }}</p>
            </div>
            <div class="ei-price">
              <img src="img/event-price.png">
              <p>{{evt.valor ? evt.valor: 0 | currency: 'R$ '  }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row green-button">
      <a class="facebook-sign-in button button-block" ng-click="inviteMatch(evt)" style="background-color: #fff">CONVIDAR MATCH</a>
    </div>
  </ion-content>
</ion-view>