<ion-view view-title="Configurações" name="mapa-view" hide-nav-bar="true">
  <div class="bar bar-header black topmenu">
    <div class="flex topo" style="justify-content: space-around; align-items: center;">
      <div ng-click="goPerfil()"><img src="img/user.png"></div>
      <div ng-click="goCards()"><img src="img/logo-icon.png"></div>
      <div ng-click="goMapa()"><img src="img/event-location.png"></div>
      <div ng-click="goChats()"><img src="img/message.png"></div>
    </div>
  </div>
  <ion-content class="text-center gray config">
    <div class="custom-container">
      <h1 class="white-blocks-title">Descoberta</h1>
    </div>
    <div class="white-block filter">
      <div class="flex">
        <h2 class="wb-title">Distância máxima</h2>
        <p class="wb-side">{{ slider.raio ? slider.raio : 35 }} km</p>
      </div>
      <div class="wb-switch">
        <rzslider rz-slider-model="slider.raio" rz-slider-options="distSlider.options"></rzslider>
        </div>
      </div>
    </div>

    <div class="white-block filter">
      <div class="flex">
        <h2 class="wb-title">Faixa etária</h2>
        <p class="wb-side">{{ slider.min }} {{ slider.max == 55 ? '55+' : slider.max }}</p>
      </div>
      <div class="wb-switch">
        <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="ageSlider.options"></rzslider>
      </div>
    </div>

    <div class="custom-container">
      <h1 class="white-blocks-title">Procurando</h1>
    </div>
    <div class="white-block switch" ng-repeat="s in sexos">
      <div class="flex">
        <h2 class="wb-title">{{s.nome}}</h2>
        <div class="wb-switch">
          <label class="toggle">
            <input type="checkbox" ng-model="s.selected" ng-change="selSexo(s.nome)">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="custom-container">
      <h1 class="white-blocks-title">Nível de dança</h1>
    </div>
    <div class="white-block switch" ng-repeat="n in niveis">
      <div class="flex">
        <h2 class="wb-title">{{n.nome}}</h2>
        <div class="wb-switch">
          <label class="toggle">
            <input type="checkbox" ng-model="n.selected" ng-change="setUserNiveis(n.nome, n.selected, false)">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="custom-container">
      <h1 class="white-blocks-title">Estilos de dança</h1>
    </div>
    <div class="white-block options" style="padding-top: 7px;padding-bottom: 7px;">
      <div class="flex">
        <div class="">
          <div class="wb-selected wb-estilos">
            <p ng-repeat="r in user.buscar.ritmos | orderBy" class="ritmos" ng-bind="r + ($last ? '' : ', ')"></p>
          </div>
        </div>
        <div class="wb-arrow" ng-click="goRitmosS()"><img src="img/next.png" class="arrow"></div>
      </div>
    </div>

    <div class="custom-container">
      <h1 class="white-blocks-title">Notificações</h1>
    </div>
    <div class="white-block switch" ng-repeat="c in config">
      <div class="flex">
        <h2 class="wb-title">{{c.nome}}</h2>
        <div class="wb-switch">
          <label class="toggle">
            <input type="checkbox" ng-model="c.selected" ng-click=selNotificacoes(c.nome)>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
    </div>

      <div class="custom-container">
        <h1 class="white-blocks-title">Conta</h1>
<!--         <button class="white-block facebook-sign-in button button-block out" ng-click="ver()">
          VER
        </button> -->
        <button class="white-block facebook-sign-in button button-block out" ng-click="salvar()">
          SALVAR
        </button>
        <button class="white-block facebook-sign-in button button-block out" ng-click="sair()">
          SAIR
        </button>
        <button class="white-block facebook-sign-in button button-block out" ng-click="popupShowDelete()">
          APAGAR CONTA
        </button>
      </div>

  </ion-content>
</ion-view>