<ion-tabs>
  <ion-tab href="#/tab/sel-sexo">
    <ion-nav-view name="tab-sel-sexo"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/autorizar">
    <ion-nav-view name="tab-autorizar"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/sel-escolaridade">
    <ion-nav-view name="tab-sel-escolaridade"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/sel-data">
    <ion-nav-view name="tab-sel-data"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/sel-estilos">
    <ion-nav-view name="tab-sel-estilos"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/sel-nivel">
    <ion-nav-view name="tab-sel-nivel"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/editar">
    <ion-nav-view name="tab-editar"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/ritmos">
    <ion-nav-view name="tab-ritmos"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/cards">
    <ion-nav-view name="tab-cards"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/match">
    <ion-nav-view name="tab-match"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/chat-det">
    <ion-nav-view name="tab-chat-det"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/evento">
    <ion-nav-view name="tab-evento"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/albums">
    <ion-nav-view name="tab-albums"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/fotos">
    <ion-nav-view name="tab-fotos"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/add-event">
    <ion-nav-view name="tab-add-event"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/ritmos-evt">
    <ion-nav-view name="tab-ritmos-evt"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/ritmos-s">
    <ion-nav-view name="tab-ritmos-s"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/filtro-evt">
    <ion-nav-view name="tab-filtro-evt"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/add-creditos">
    <ion-nav-view name="tab-add-creditos"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/tab/dados-dono-cartao">
    <ion-nav-view name="tab-dados-dono-cartao"></ion-nav-view>
  </ion-tab>
</ion-tabs>