@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@font-face {
  font-family: 'Agency FB';
  src: url('Agency FB.eot');
  src: url('Agency FB.eot?#iefix') format('embedded-opentype'), url('Agency FB.woff2') format('woff2'), url('Agency FB.woff') format('woff'), url('Agency FB.svg#Agency FB') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-02DC;
}
body{
  font-family: 'Quicksand', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}
body.profile-page {
  background-color: #fff;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.agencyfb {
  font-family: 'Agency FB', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Agency FB', sans-serif;
  margin: 0;
}
p {
  margin: 0;
  font-size: 16px;
}

input.input-login{
  padding-left: 5px;
  height: 37px;
}

p.nenhum{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  margin: 12px;
  text-align: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2;
}
.button.facebook-sign-in{
  margin-top: 10px;
  margin-bottom: 0;
  padding: 4px;
  border-radius: 50px;
  background-color: #fff
}
.row.termos{
  margin-top: 10px;
  color: #fff;
  text-align: center;
  flex-direction: column;
}
.termos a{
  color: #fff;
}
.topmenu {
  background-color: #000;
  height: 51px;
}
.user-top {
  float: left;
  position: relative;
  z-index: 2;
  margin-top: 12px;
  margin-left: 16px;
}
.logo-top {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}
.message-top {
  float: right;
  position: relative;
  z-index: 2;
  margin-top: 12px;
  margin-right: 16px;
}

.filter-event-top {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}
.add-event-top {
  position: absolute;
  right: 13px;
  top: 64px;
}
.black{
  background: #000;
}
.gray{
  background: #f1f1f1;
}
.full{
  top: 0 !important;
  bottom: 0 !important;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.card-controls {
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 35px;
  height: 50px;
  padding: 0 6%;
}
.card-controls .dislike {
  border-radius: 25px;
  background-color: #ff00ed;
  padding: 12px;
}
.card-controls .dislike img,.card-controls .like img{
  display: block;
  width: 25px;
}
.card-controls .info {
  border-radius: 150px;
  background-color: #cccccc;
  padding: 7px;
  width: 40px;
  height: 40px;
}
.card-controls .info img {
  display: block;
  margin: 0 auto;
}
.card-controls .like {
  border-radius: 25px;
  background-color: #00fffe;
  padding: 12px;
}
.topmenu {
  background-color: #000;
  height: 51px;
}
.user-top {
  float: left;
  position: relative;
  z-index: 2;
  margin-top: 12px;
  margin-left: 16px;
}
.logo-top {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}
.message-top {
  float: right;
  position: relative;
  z-index: 2;
  margin-top: 12px;
  margin-right: 16px;
}
.back-top {
  float: left;
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  margin-left: 16px;
}
.add-event-top {
  position: absolute;
  right: 13px;
  top: 64px;
}
.topo{
  width: 100%;
}
.wb-estilos{
  padding-top: 5px;
}
.custom-container {
  padding: 15px 15px;
  max-width: 100%;
}
.card-wrap {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
/*.card-img{
  display: block;
}*/
.card-wrap .card-img{
  width: 90vw;
  height: calc(100vh - 200px);
  margin: 0 auto;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-info {
  background-color: #111;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
  border: 1px solid black;
  height: 50px;
}
.card-name {
  font-family: 'Agency FB', sans-serif;
  font-size: 18px;
  color: #f1f1f1;
}
.card-styles {
  font-family: 'Agency FB', sans-serif;
  color: #f1f1f1;
}
.card-styles img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.card-styles span {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
}
.match-overlay {
  background-image: -webkit-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -moz-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -ms-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -o-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: linear-gradient(180deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  color: #fff;
  text-align: center;
}
.match-overlay .match-wrap {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}
.match-overlay .match-title {
  font-size: 26px;
  font-weight: bold;
}
.match-overlay .match-photos {
  padding: 60px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-overlay .match-description {
  font-size: 17px;
  max-width: 300px;
  margin: 0 auto;
}
.match-overlay .match-controls {
  margin-top: 30px;
}
.match-overlay .match-controls img {
  margin: 0 15px;
}
.event-overlay {
  background-image: -webkit-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -moz-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -ms-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: -o-linear-gradient(-90deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  background-image: linear-gradient(180deg, rgba(0, 255, 254, 1), rgba(255, 0, 237, 1));
  height: 100%;
  width: 100%;
  z-index: 99;
  color: #fff;
  text-align: center;
  padding-bottom: 120px;
}
.creditos.event-overlay{
  top: 50px;
}
.event-overlay .event-back-top {
  position: absolute;
  top: 12px;
  left: 16px;
}
.event-overlay .event-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin: auto;
  width: 100%;
  overflow-y: scroll;
  height: 85vh;
}
.event-overlay .event-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.25;
}
.event-overlay .event-description {
  font-size: 1rem;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.event-overlay .event-styles {
  margin-bottom: 30px;
}
.event-overlay .event-styles span {
  background-color: #fff;
  color: #ff00ed;
  font-size: 13px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 3px;
}
.event-overlay .event-photos {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}
.event-overlay .event-photos div{
  margin: 0 5px;
  border-radius: 5px;
}
.event-overlay .event-local {
  font-size: 12px;
  max-width: 310px;
  margin: 10px auto 25px;
}
.event-overlay .event-info {
  max-width: 310px;
  margin: 0 auto 40px;
}
.event-overlay .event-info .flex {
  justify-content: space-between;
}
.ei-date, .ei-price{
  margin: 0 10px;
}
.event-overlay .event-info .ei-date img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.event-overlay .event-info .ei-date p {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
.event-overlay .event-info .ei-price img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.event-overlay .event-info .ei-price p {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
.event-overlay .event-share button{
  font-size: 16px;
  color: #ff00ed;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 11px;
  text-decoration: none;
}
.creditos .event-title{
  line-height: 30px;
}
.creditos.event-overlay .event-share a {
  padding: 10px;
}
.creditos .event-wrap img{
  width: 40px;
  height: auto;
}
.chat-search {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 15px;
  position: relative;
}
.chat-search:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 4%;
  width: 92%;
  height: 1px;
  background-color: rgba(255, 0, 237, 0.3);
}
.chat-search .chat-search-field {
  font-family: 'Agency FB', sans-serif;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: #999;
  border: none;
  font-size: 22px;
}
.chat-search .chat-search-field:focus {
  outline: none;
}
.chat-search .chat-search-field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c9c9c9;
}
.chat-search .chat-search-field::-moz-placeholder {
  /* Firefox 19+ */
  color: #c9c9c9;
}
.chat-search .chat-search-field:-ms-input-placeholder {
  /* IE 10+ */
  color: #c9c9c9;
}
.chat-search .chat-search-field:-moz-placeholder {
  /* Firefox 18- */
  color: #c9c9c9;
}
.chat-messages .chat-messages-title {
  font-size: 18px;
  color: #ff00ed;
  margin: 25px 0 10px;
  font-weight: normal;
}
.chat-messages .chat-message-block {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  align-items: center;
}
.chat-messages .chat-message-block h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: normal;
}
.chat-messages .chat-message-block p {
  font-size: 15px;
  color: #808080;
}
.chat-messages .chat-message-block:last-child {
  border-bottom: none;
}
.chat-messages .chat-message-text {
  padding-left: 25px;
  width: 100%;
}
.invite-match .chat-message-img img {
  display: block;
}
.invite-match .chat-message-block {
  padding: 10px 15px;
  position: relative;
}
.invite-match .chat-message-block span {
  position: absolute;
  right: 15px;
  top: 27px;
}
.invite-match .chat-message-block h2 {
  margin: 0;
}
.chat-header {
  background-color: #e7e7e7;
  padding: 7px 0;
  top: 100px;
  position: absolute;
  width: 100%;
}
.chat-header:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #cccccc;
  left: 5%;
  bottom: -1px;
}
.chat-header .chat-header-img img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
.chat-header .chat-header-wrap {
  align-items: center;
}
.chat-header .chat-header-title {
  padding-left: 10px;
}
.chat-header .chat-header-title h1 {
  color: #636363;
  font-size: 20px;
  font-weight: normal;
}
.chat-speech p {
  font-size: 15px;
}
.chat-block {
  padding: 6px 0;
  margin-bottom: 10px;
}
.block-speech {
  padding: 8px 13px;
  border-radius: 7px;
  margin: 4px 0;
}
.block-speech{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.block-speech .event-speech-block {
  background-color: #fff !important;
  padding: 8px;
  text-align: left;
  border-radius: 5px;
  width: 100%;
  min-width: 50vw;
  width: 50vw;
  max-width: 50vw;
}
.event-speech-block h2 {
  font-family: 'Quicksand', sans-serif;
  color: #ff00ed;
  font-size: 14px;
  margin-bottom: 4px;
}
.event-speech-block p {
  color: #616161;
  font-size: 11px;
  margin-bottom: 4px;
}
.event-speech-block img {
  float: left;
  margin-right: 5px;
  max-width: 100px;
}
.event-speech-block .event-speech-tags span {
  color: #fff;
  font-size: 9px;
  padding: 4px 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 4px 0 0 0;
  background-color: #00bdbc;
}
.chat-block-right {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.chat-block-right .block-right-text {
  max-width: 80%;
}
.chat-block-right .block-right-text .block-speech {
  color: #fff;
  background-color: #00bdbc;
  margin-right: 15px;
  float: right;
  clear: right;
}
.chat-block-right .time{
  right: 15px;
  text-align: right;
}
.chat-block-left {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  flex-direction: row-reverse;
}
.chat-block-left .block-left-text {
  max-width: 80%;
}
.chat-block-left .block-left-text .block-speech {
  color: #636363;
  background-color: #ffe6ff;
  margin-left: 15px;
  float: left;
  clear: left;
}
.chat-block-left .time{
  left: 20px;
  text-align: left;
  padding-top: 35px;
  width: 100%;
  position: relative;
}
.chat-field {
  background-color: #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chat-field .chat-field-wrap {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.chat-field .chat-field-wrap:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  left: 0;
  top: -1px;
}
.chat-field .chat-text-field {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  width: 100%;
  padding: 13px 0;
  background-color: transparent;
  color: #999;
  border: none;
  font-size: 15px;
}
.chat-field .chat-text-field:focus {
  outline: none;
}
.profile-pictures img {
  max-width: 100%;
}
.profile-info .profile-title {
  margin-top: 10px;
  color: #262626;
  font-weight: normal;
  font-size: 33px;
}
.profile-info .profile-divider {
  height: 1px;
  width: 94%;
  background-color: #ccc;
  margin: 20px auto;
}
.profile-info p{
  color: #626262;
  font-size: 15px;
  margin: 5px 0;
}
.profile-info img{
  height: 15px;
  width: 15px;
  margin-right: 5px;
  display: inline;
  vertical-align: middle;
}
.configurations .config-block {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.configurations .filter-title {
  font-family: 'Quicksand', sans-serif;
  color: #ff00ed;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}
.configurations .filter-option {
  color: #626262;
  font-size: 14px;
  padding: 4px 0;
}
.configurations .filter-distance {
  color: #626262;
}
.profile-styles-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #626262;
  font-weight: normal;
  margin-top: 0;
}
.profile-styles {
  margin-top: 14px;
}
.profile-styles span {
  color: #fff;
  font-size: 13px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 0 2px 8px;
  background-color: #00bdbc;
}
.img-example {
  width: 100%;
}
h1.white-blocks-title{
  margin-top: 25px;
}
.white-blocks-title {
  color: #ff00ed;
  margin: 25px 0 10px;
  font-weight: normal;
  font-size: 22px;
}
.white-block {
  padding: 10px 15px;
  background-color: #fff;
  margin-bottom: 10px;
}
.white-block .wb-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #5D5D5D;
  padding: 7px 10px 3px 10px
}
.white-block .flex {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.white-block.filter .flex {
  margin-bottom: 7px;
}
.white-block.filter .wb-side {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #5D5D5D;
}
.white-block.options .wb-selected {
  color: #5D5D5D;
  font-size: 13px;
  padding: 7px 10px 3px 10px;
  font-family: 'Quicksand', sans-serif;
}
.white-block.options input{
  height: 26px;
}
.white-block.single {
  text-align: center;
  border: none;
  padding: 20px;
}
.white-block input, textarea{
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
}
.add-cred .white-block input, .bday{
  background: #fff;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.add-event-map {
  margin-top: -10px;
}
.profile-related .flex {
  justify-content: space-between;
}
.profile-related .related-block {
  text-align: center;
}
.profile-related .related-block h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  color: #95989A;
  font-size: 16px;
}
.profile-related-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #626262;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
.about-edit {
  padding-bottom: 20px;
}
.about-edit p {
  margin-bottom: 15px;
}
.about-edit span {
  position: absolute;
  right: 12px;
  color: #95989A;
}
.styles-block li {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  font-size: 14px;
  color: #5D5D5D;
  padding: 12px 15px;
}
.profile-options-block {
  padding: 30px 0;
  text-align: center;
}
.profile-options-block h2 {
  font-size: 24px;
  font-weight: normal;
  color: #262626;
  margin: 12px 0 6px;
}
.profile-options-block h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  color: #626262;
  font-weight: normal;
}
.profile-options-block img{
  max-width: 50%;
}
.profile-options-icons {
  text-align: center;
  margin-top: 50px;
}
.profile-options-icons .flex {
  justify-content: space-around;
}
.profile-options-icons .flex p {
  color: #8F8F8F;
  margin-top: 5px;
  font-size: 16px;
}
.config .custom-container{
  padding-top: 0;
  padding-bottom: 0;
}
.config h1{
  text-align: left;
}
.header-profile{
  display: none;
}
.logo{
  margin-top: 32%;
  width: 33%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.login-screen{
  background: linear-gradient(135deg, #ff00ed 0%,#00ffec 100%) !important;
  color: #cccccc;
}
.tabs{
  display: none;
  padding-top: 0;
}
.bar-footer{
  bottom: 25px;
  background: none;
  border: none;
}

/*.bar-footer .button{
  font-size: 20px !important;
  padding: 8 8px !important;
  margin: 15px;
}*/

.tabs-icon-bottom{
  top: initial;
}
.icone{
  font-size: 44px;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}
.has-tabs.pane, .has-tabs{
  bottom: 0px;
  top: 50px;
}
.imagem-frontal{
  height: 150px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.col-50{
  margin-right: auto;
  margin-left: auto;
}
.col-12{
  width: 100%;
}
.cap{
  text-transform: capitalize;;
}
.marca{
  font-size: 12px;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}
.titulo{
  margin-top: -5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  color: #000;
}
.row.branca > .col {
  padding: 0;
}
.branca{
  background-color: #fff;
  /*display: block;
  bottom: 10px;*/
  height: 50px;
}
.principal{
  top: 45px;
  bottom: 45px;
}
.bar-footer{
  bottom: 10px;
}
.image-none{
  background-image: url('../img/image.gif');
  height: 300px;
  width: 50%;
  background-size:cover;
  background-position: center;
}
.full-page{
  top: 0;
}
.cor{
  margin-right: auto;
  margin-left: auto;
}
.fb{
  background-image: linear-gradient(280deg,#337eb9,#384499);
  color: #fff;
  border: none;
}
.fb:active, .fb:hover, .fb:visited{
  color: #fff;
  font-weight: 600;
}
.selected{
  border: 1px solid green;
}
.produto-label{
  background: transparent;
  border: none;
}
.disabled .icon{
  color: #ccc;
}
.disabled{
  pointer-events: none;
  cursor: default;
}
.popupConfirmaExclusao .button-stable{
  pointer-events: none;
  cursor: default;
}
.header-profile{
  background: #2E9797;
}
.profile_img{
  border-radius: 40px;
  margin-left: 0;
  width: 50px;
  height: 50px;
  position: fixed;
  margin-top: 3px;
  left: 10px;
}
.inline{
  display: inline;
  margin: 17px;
  font-size: 20px;
  color: #fff;
  float: left;
  margin-left: 75px;
}
.content{
  margin-top: 30px;
}
.main{
  background: #f0f0f0;
}
.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.col-md-12.btn-area{
  width: 100%;
  display: inline-table;
  padding: 20px;
}
.large{
  font-size: 40px;
}
.right{
  position: fixed;
  right: 10px;
  top: 0;
}
.f-right{
  right: 0;
  top: 35%;
  position: absolute;
}
.pink{
  background: pink !important;
}
.green{
  background: green !important
}
.white{
  color: #fff;
}
.row{
  margin: 0;
}
.col-md-12{
  width: 100%;
}
.title{
  padding-top: 20px;
  padding-bottom: 20px;
}
.button-ok{
  width: 100px;
}
.ok{
  background-color: #019688;
  color: #fff;
}
.popup{
  width: 300px !important;
  background: #fff;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #ff00ed;
  border-color: #ff00ed;
}
p.item-lista{
  display: inline;
}
p.preco-li{
  display: inline;
  position: fixed;
  right: 10px;
}
.data-info{
  margin-bottom: 30px;
  margin-top: 20px;
}
.last-item{
  background: #f7f7f7;
  margin-top: 10px;
}
.time-selected{
  margin-top: 15px;
  margin-bottom: 15px;
}
/* hide the main tabs */
.tab-nav{
  display: none;
}
/* this takes care of the access margins bottom or top tabs 
.has-tabs, .has-tabs-top, .has-tabs-bottom {
  bottom: 0px !important;
  top: 0px !important;
}  
*/
.hidden{
  display: none !important;
}
.l-login{
  margin: 5px;
}
i.conf:hover{
  color: #c0c0c0;
}
.list.card{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 300px;
}
.ritmo{
  margin: 2px;
  padding: 2px;
  height: auto;
  line-height: 20px;
  min-height: 20px;
}
.item-image .img{
  max-height: 200px;
}
.item.assertive{
  background-color: #000;
  color: #fff;
  border: none;
}
.dislike i{
  color: #ff00ed;
  font-size: 60px;
}
.col-md-4{
  width: 33.3333333%;
  float: left;
  text-align: center;
}
.nome{
  margin-top: -2px;
}
/* Card styling */
td-cards {
  display: block;
  margin-top: 20px;
}

td-cards td-card {
  position: absolute;
  left: 50%;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: -45%;
  width: 90%;
  display: none;
  justify-content: space-around;
}

td-cards td-card:first-child {
  display: block;
}

td-card .image {
  display: flex;
  flex-direction: column;
}

/*td-card .image{
  width: 90vw;
  height: 90vw;
}*/

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
  display: none;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
  display: none;
}
.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}
#map {
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  min-height:100% 
}
.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{
  border-radius: 28px;
  width: 100%; 
  height: 100%; 
  margin-top: 0; 
  margin-left: 0;
  border-width: 2px;
}
.platform-android .checkbox-platform input:after, .platform-android .checkbox-platform .checkbox-icon:after, .checkbox-square input:after, .checkbox-square .checkbox-icon:after{
  border-width: 2px; 
  top: 30%; 
  left: 25%; 
  width: 13px; 
  height: 7px;
}
.wb-selected, .wb-selected textarea, .wb-selected input{
  width: 100%;
  color: #5D5D5D;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.wb-selected input[disabled]{
  background: #fff;
}
.rounded{
  border-radius: 50%;
}
.photos-edit img, .photos-edit div{
  border-radius: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.photos-edit img{
  height: 25px;
  width: 25px;
  position: absolute;
  right: -3px;
  bottom: -3px;
}
.photos-evt img{
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.image-div{
  width: 33vw; 
  height: 33vw; 
  background-position: center top; 
  background-size: cover;
}
.col-md-9{
  width: 75%;
  float: left;
}
.col-md-3{
  width: 25%;
  float: left;
}
.col-md-8{
  width: 66.666667%;
}
.col-md-4{
  width: 33.333333%;
}
/*.fotos-laterais{
  float: right;
  margin-top: -74%;
  padding: 5px;
}
.fotos{
  padding: 5px;
  padding-left: 0;
  margin-top: -10px;
}*/
.fotos-bottom{
  margin-top: -5px;
  float: left;
}
.foto{
  padding: 5px;
}
.foto img{
  margin: 0;
}
.foto-4{
  padding: 5px;
  margin-top: -5px;
}
/*img.add{
  width: 27px;
  float: right;
  margin-top: -30px;
  margin-right: -7px;
  position: relative;
  z-index: 10;
}*/
img.rm{
  transform: rotate(45deg);
}
.add-event{
  position: absolute;
  top: 65px;
  right: 15px;
}
.scroll {
  height: 100%;
}
img.arrow{
  padding: 10px;
  padding-right: 0;
}
.ritmos{
  display: inline;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.toggle input:checked + .track {
    border-color: #ff00ed;
    background-color: #ff00ed;
}
.spinner{
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  margin-left: -30px;
}
.spinner svg {
  width: 60px;
  height: 60px;
  stroke: #ff00ed;
  fill: #ff00ed;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
  -webkit-box-flex: $fg;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

/*$range-default-track-bg: #ff00ed !default;

ui-multi-range {
    position: relative;
    height: 50px;
    width: 100%;
    input[type=range] {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 2px;
        overflow: hidden;
        border: 0;
        border-radius: 1px;
        outline: none;
        pointer-events: none;
        
        &:active,
        &:focus {
            outline: none;
        }
        
        &::-webkit-slider-thumb {
            position: relative;
            cursor: pointer;
            pointer-events: all;
            &::before {
                content: ' ';
                display: block;
                position: absolute;
                top: 13px;
                left: 100%;
                width: 2000px;
                height: 3px;
            }
        }

        &:nth-child(2) {
            background: none;

            &::-webkit-slider-thumb::before {
                background-color: $range-default-track-bg;
            }
        }
    }
}*/

.idade{
  width: 100%;
}

.idade input{
  width: 100%
}

/*.idade input:nth-child(2){
  float: left;
  margin-top: -48px
}
.range input{
  margin-right: 0;
  margin-left: 0;
  background-size: 99% 3px;
}
.platform-android .range.range-light input::-webkit-slider-thumb {
  background: #ff00ed;
}
.range.range-light input::-webkit-slider-thumb {
  background: #ff00ed; 
}*/

.album{
  padding: 2px;
}
.album img{
  width: 100%;
  height: 100px;
}
.sel-sexo{
  border: none;
  color: #00b1ff;
  width: 100%;
  background: #fff;
  -webkit-appearance: none;
  font-family: 'Quicksand', sans-serif;
}
.sel-sexo option{
  font-family: 'Quicksand', sans-serif;
}
.button.button-pink{
  background: #ff00ed;
  color: #fff
}
#mapa{
  height: 150px;
}
.back-add{
  position: absolute;
  left: 15px;
  top: 12px;
}
.back-save{
  position: absolute;
  right: 15px;
  top: 12px;
}
.full-w{
  width: 100%
}
/*
.green{
  background: #02ffeb
}

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  -moz-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  -o-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  -ms-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; 
}
.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  -ms-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; 
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); 
}*/

.modal{
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  min-height: 240px;
  width: 60%;
  background: transparent;
}
.modal-backdrop-bg{
  background: rgba(0,0,0,0.4);
}
.title.m-select{
  padding: 0
}
.multiple-select{
  border: none;
  position: absolute;
  width: 100%;
  left: 0;
  background: transparent;
  height: 50px;
}
.nivel{
  width: 100%;
  text-align: left;
  position: relative;
}
.info-slider{
  height: 100vw;
}
.swiper-pagination-bullet{
  background: white;
}

.swiper-slide img{
  width: 100vw;
  height: 100vw;
}
.rounded-m{
  width: 100px;
  height: 100px;
  border-radius: 60px;
}
.block-left-img{
  float: left;
}
.block-right-img img, .block-left-img img{
  width: 50px;
  height: 50px;
  border-radius: 95px;
}
.img-evt{
  border-radius: 7px;
  margin: 0 2.5vw 0 0;
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-position: center;
  position: relative;
  display: inline-block;
}
#mapa-evt{
  width: 100%;
  height: 190px;
}

.light-grey{
  background-color: #EDEBEE;
  border:0px;
}
.line-light-grey{
  background-color: #EDEBEE;
  border:none;
  border-bottom: 1px solid #8DB4B4;
}
.bottommsg{
  position: fixed;
  bottom:0px;
  width: 100%;
}
.bottommsg label{
  width: 100%;
}
.bottommsg input{
  width: 100% !important;
  background: #EDEBEE !important;
}
.divsend{
  background-color:#D5D5D9;
}
.button-clear.iconsend{
  font-size: 18px;
  color: gray;
}
.chat-det{
  top: 115px;
  bottom: 60px;
}
.customAlertCss .popup{
  text-align: justify;
  opacity: 1;
  background: #fff;
}

.popup-title{
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-weight: bold;
}

.popup-body{
  opacity: 1;
  background: #fff;
}

.customAlertCss button {
  background-color: #00fffe !important;
}

/* ionic-select-modal */
.ionic-select-modal.sexo{
  min-height: 205px !important;
  height: 100px;
  top: 25%;
  right: 30%;
  bottom: 25%;
  left: 30%;
  min-height: 240px;
  width: 40%;
}
.ionic-select-modal.modal-nivel{
  top: 25%;
  right: 20%;
  bottom: 25%;
  left: 20%;
  min-height: 240px;
  width: 50%;
  min-height: 305px !important;
}
.ionic-select-modal .scroll-bar-v{
  display: none;
}
.ionic-select-modal h1.title{
  padding-top: 0;
  padding-bottom: 0;
}

.modal.sexo .bar-footer, .modal.modal-nivel .bar-footer, .modal.bandeira .bar-footer{
  display: none
}

.input-login{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.bandeira .wb-selected{
  text-transform: uppercase;
}

input[type=date] {
  text-align: left;
}

input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
}
input[type="date"]:focus:before {
  content: '' !important;
}

.creditos .event-wrap img.icone-evt{
  width: 60px;
}

.event-wrap input{
  text-align: center;
}

.event-wrap .wb-title{
  padding: 10px;
}

.precos{
  line-height: 1.5;
  margin-bottom: 15px;
}

/*.activity-detail-loading {
  ion-backdrop{
    opacity: 1 !important;  
  } 
}*/

.loading-container .loading{
  background-color: transparent;
}

.in-cards .backdrop, 
.in-cards .modal-backdrop-bg{
/*  background: transparent !important;
  opacity: 0;*/
  height: 55px;
}

.in-cards .modal-backdrop .active{
  height: 55px;
}

.modalMsg{
  top: 0;
  width: 100%;
  left: 0;
}

.modalMsg img{
  height: 100%;
}

.modalMsg .title{
  padding-top: 0;
  padding-bottom: 0;
  left: 50px !important;
  font-size: 20px;
  text-align: left;
}

.unread{
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}

.event-img{
  max-width: 33.33%;
  height: auto;
}

.scroll-content {
  margin-top: 0px;
  padding-top: 0;
}

.white-block.filter.slider-distance .flex{
  margin-top: -11px;
  margin-bottom: 11px;
}

/*[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
}

[slider] > div {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 10px;
  background-color: #CCC;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 3px;
  border-radius: 10px;
  background-color: #CCC;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 14px;
  background-color: #ff00ed;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -12px;
  z-index: 2;
  height: 30px;
  width: 30px;
  text-align: left;
  margin-left: -15px;
  cursor: pointer;
  background-color: #ff00ed;
  border-radius: 50%;
  outline: none;
}*/

/*[slider] > div > [thumb]:nth-of-type(2){
  margin-left: -27px;
}*/

/*[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #1ABC9C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1ABC9C;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opa*/city: 1;
}

.white-block.filter .idade_busca.flex{
  margin-bottom: 4px;
  margin-top: 0;
}

.idade_busca input{
  width: 20px;
  background: white;
  color: #5D5D5D
}

.end{
  margin-bottom: 25px
}

.sel-ritmos .scroll{
  flex-direction: column;
  justify-content: space-around;
}

.sel-ritmos .list{
  width: 100vw;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sel-ritmos h1.white-blocks-title{
  padding-top: 25px;
  margin-top: 0;
}

.green-button{
  position: absolute;
  bottom: 0;
  padding: 20px;
  opacity: 1;
}

.green-button .facebook-sign-in{
  background-color: #00fffe;
  width: 100%;
}

.topo img{
  padding: 10px;
}
.autorizar{
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  padding: 30px;
}

.autorizar h1, .autorizar h2, .autorizar h3, .erro p{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.autorizar h1{
  color: #ff00ed;
  font-size: 22px;
}

.autorizar h2{
  color: gray;
}

.autorizar h3{
  text-align: left;
}